
body {
    text-align: center;
}

h1 {
    color: blueviolet;
}

.theo {
    color: hotpink
}

.luke {
    color: hotpink
}

.husky-siberiano-filhotes-origem-alimentacao-cuidados-saude-e-comportamento-desse-cao-de-raca-grande.jpg.webp
{ width:20% 
                                                                                                              
   }



